version: "3.9"

services:
  db:
    image: postgres:15
    container_name: employee-db
    environment:
      POSTGRES_DB: employees
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ../employee-api
    container_name: employee-api
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build: ../employee-ui
    container_name: employee-ui
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data: